venv
.credentials
credentials
test*
.ipynb*
config.py
__pycache__
.DS_Store
Data Manipulation-Copy1.ipynb
ZRI_Univariate_Time_Series_Analysis-Copy1.ipynb
geo_transform_data
Data Manipulation-Copy1.ipynb
Static Regression-Copy1.ipynb

